<div class="world-main-content">
  <div class="header-container">
    <nav class="nav-content">
      <h1 class="game-tile">Game of Life</h1>
      <a class="nav-link" href="#/" class="kataFont">Home</a>
    </nav>
  </div>

  <div class="work-area-container">
    <div class="game-life-container">
      <!-- CONFIG OPTIONS -->
      <div class="title-content">
        <h2>Configs</h2>
        <div class="config-actions-container">
          <button class="config-btn" ng-click='setOnLyOneConf()'>One cell</button>
          <button class="config-btn" ng-click='setBlockConf()'>BLOCK</button>
          <button class="config-btn" ng-click='setOcilatorConf()'>OCILATOR</button>
          <button class="config-btn" ng-click='setCustomeConf()'>GLITER</button>
        </div>
      </div>
      <!-- HISTORY -->
      <div class="title-content history">
        <h2>History</h2>
        <div class="history-container">
          <div class="history-item-content" ng-repeat="history in worldTilesHistory">
            GENERATION: <em>{{$index}}</em>
          </div>
        </div>
      </div>

      <!-- WORLD -->
      <div class="title-content world">
        <div class="world-title-actions-container">
          <h2>World</h2>
          <div class="world-actions-container">
            <button ng-click='resetWorld()'>
              <i class="fa fa-refresh"></i>
              Reset World
            </button>
            <button ng-click='runWorldIteration()'>
              <i class="fa fa-play"></i>
              Next Generation
            </button>
            <button ng-click='runWorldIteration()'>
              <i class="fa fa-spinner fa-spin"></i>
              Auto Generation
            </button>
          </div> 
        </div>
        <div class="world-content">
          <div class="row-container" ng-repeat="rowCells in worldTiles">
            <div class="col-container" ng-repeat="colCells in rowCells track by $index"
              ng-class="{'live': colCells === 1}" ng-click="changeCellStateAtPosition($parent.$index,$index)">
              <div class="float-matrix-position">
                {{$parent.$index}} {{$index}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>